@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.reviews {
  @include max-width;
  display: flex;
  flex-direction: column;
  align-items: center;

  .image {
    filter: drop-shadow(0.3rem 0.6rem 1rem rgba($black, 0.25));
    -webkit-filter: drop-shadow(0.3rem 0.6rem 1rem rgba($black, 0.25));
    margin-bottom: 6rem;
    max-width: 100%;
    height: auto;
  }

  h2 {
    margin-bottom: 6rem;
    text-align: center;
    font-size: 5.2rem;
    font-family: $fontFamily
  }

  .review {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 60rem;
    position: relative;

    .avatar {
      margin-bottom: 1rem;
      border-radius: 50%;
    }

    h3 {
      text-transform: uppercase;
      font-size: 1.6rem;
      margin-bottom: 0.5rem;
      color: $black;
      font-family: $fontFamily
    }

    h4 {
      font-size: 1.4rem;
      color: $mediumSecondary;
      margin-bottom: 2rem;
      font-family: $fontFamily
    }

    p {
      text-align: center;
      color: $white;
      font-size: 1.8rem;
      font-family: $fontFamily
    }

    .previous,
    .next {
      position: absolute;
      background-color: $primary;
      border: none;
      outline: none;
      padding: 1rem;
      border-radius: 50%;
      color: $secondary;
      font-weight: 700;
      font-size: 1.8rem;

      &:hover {
        cursor: pointer;
      }
    }

    .previous {
      left: 0;
    }

    .next {
      right: 0;
    }
  }
}