@import './variables.scss';
@import './mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: fontFamily;
}

html {
  font-size: 62.5%;

  @include device(tablet) {
    font-size: 60%;
  }

  @include device(mobile) {
    font-size: 58%;
  }
}

body {
  font-size: 1.6rem;
  background-color: $darkSecondary;
  color: $white;
}

section {
  scroll-margin-top: 10rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
.p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.5rem;

  &.light {
    opacity: 0.6;
  }
}

h1,
.h1 {
  font-family: $fontFamily;
  font-size: 4.8rem;
  font-weight: 600;

  @include device(notebook) {
    font-size: 4.6rem;
  }

  @include device(mobile) {
    font-size: 4.2rem;
  }
}


.title {
  @include gradient-color;
  display: inline-block;
  font-size: 4.8rem;
  font-weight: 500;

  @include device(tablet) {
    text-align: center;
  }

  @include device(mobile) {
    font-size: 4rem;
  }
}

.btn {
  display: inline-block;
  border: none;
  outline: none;
  padding: 1.2rem 6rem;
  font-family: $fontFamily;
  clip-path: polygon(15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%, 0% 50%);

  &.btn-primary {
    background-color: $yellow;
    color: $mediumSecondary;
    text-transform: uppercase;
    font-weight: 700;

    &:hover {
      cursor: pointer;
      background-color: lighten($yellowDark, 3);
    }
  }
}