// colors

$primary: #d70b4b;
$lightPrimary: #ed4279;

$secondary: #f0b6cc;
$lightSecondary: #fcf3f5;
$mediumSecondary: #615a49;
$lightDarkSecondary: #52d7db;
$darkSecondary: #5bc6cc;

$white: #ffffff;
$black: #000000;
$yellow: #eec018;
$yellowDark: #eaa547;
$yellowLight: #f9eeda;

// fontes 
$fontFamily: 'Poppins', sans-serif;

