// colors

$primary: #d70b4b;
$lightPrimary: #ed4279;

$secondary: #f0b6cc;
$lightSecondary: #fcf3f5;
$mediumSecondary: #b4e2e1;
$lightDarkSecondary: #9be7ed;
$darkSecondary: #20bbb1;

$background: #ebfefb;
$black: #000000;

// fontes 
$headerFont: 'Inter', sans-serif;
$textFont: 'Inria Serif', serif;
