@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.about {
  .container {
  @include max-width;
  display: flex;
  align-items: center;
  gap: 6rem;
  display: grid;
  margin-bottom: 16rem;
  grid-template-columns: repeat(2, 1fr);
  scroll-margin-top: 10rem;
  height: 700px;
 
  @include device(tablet) {
    gap: 6rem;
    display: inline-block;
    align-items: center;
    height: 400px;
    padding: 6rem;
  }
 

        .content {
          max-width: 56rem;

          @include device(tablet) {
            max-width: 26rem;
          }

         h2 {
          font-size: 5.2rem;
          font-family: $fontFamily
         
         } 

         p {
          font-size: 1.8rem;
          line-height: 2.5rem;
          margin-bottom: 0.5rem;
          color: $mediumSecondary;
          font-family: $fontFamily;
          
          
       
        }
        
      }



}



    }


