@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.about {
  .container {
  @include max-width;
  display: flex;
  align-items: center;
  gap: 6rem;
  display: grid;
  margin-bottom: 16rem;
  grid-template-columns: repeat(2, 1fr);
  scroll-margin-top: 10rem;
  height: 550px;
 

  @include device(notebook) {
    flex-direction: column;
    gap: 3rem;
    max-width: 60rem;

        }

        .content {
          max-width: 56rem;

         h2 {
          font-size: 4.2rem;
          font-family: $fontFamily
         
         } 

         p {
          font-size: 1.8rem;
          line-height: 2.5rem;
          margin-bottom: 0.5rem;
          color: $mediumSecondary;
          font-family: $fontFamily
          
       
        }
        



      }









    }
}

