@import '@/styles/mixins.scss';

.header {
    background: radial-gradient($lightPrimary, $primary);
    min-height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 6rem;
    overflow-x: clip;

    .container {
        @include max-width;
        margin-bottom: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 60rem;
        align-items: center;

        @include device(tablet) {
          grid-template-columns: 1fr;
          justify-items: center;
          text-align: center;
          height: 80rem;
          margin-top: 10rem;
        }
    
        & > div:last-of-type {
            height: 96%;
        }

        .content {
            max-width: 56rem;

           h1 {
            font-size: 6.4rem;
            font-weight: 500;
            margin: 1rem 0 2rem 0;
            max-width: 50rem;
        
           } 

           p {
            font-size: 1.8rem;
            line-height: 2.5rem;
            color: $lightSecondary;
            margin-bottom: 0.5rem;
            font-family: $fontFamily;
          }
          
        }
        @include device(tablet) {
          margin: 1rem auto 2rem auto;
          }
        }

    }
